@tailwind base;
@tailwind components;
@tailwind utilities;



.home_content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.about{
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}


/* .welcome{
  font-size: 32px;
} */

.about_text::before{
  content: " ";
  width: 2px;
  background: linear-gradient(0deg,var(--grad-2)0%,var(--grad-1)100%);
   position: absolute;
  top: 0; 
   bottom: 0;
  /* left: -30px; */
  --grad-1: rgb(165,76,189);
  --grad-2: rgb(71,129,84);
}
.about_text p{
  padding-left: 20px;
}
.about_text a{
  margin-left: 20px;
}

.page-links ul{
  /* background:  */
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 2px;
  z-index: 4;
  position: relative;
}
.subtitle{
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 1px;
  }



@media (min-width: 900px) {
  .subtitle{
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    }
}

@media (min-width: 1024px) {
 
}